[submodule "articles/step-of-conductor/step"]
	path = articles/step-of-conductor/step
	url = git://github.com/creationix/step.git
[submodule "articles/step-of-conductor/conductor"]
	path = articles/step-of-conductor/conductor
	url = git://github.com/creationix/conductor.git
[submodule "articles/hello-node/node-router"]
	path = articles/hello-node/node-router
	url = git://github.com/creationix/node-router.git
