#article= content
#disqus_thread
%script(src="http://disqus.com/forums/howtonodeorg/embed.js" type="text/javascript")
%noscript
%a(href="http://disqus.com/forums/howtonodeorg/?url=ref")
  View the discussion thread.
%a.dsq-brlink(href="http://disqus.com")
  blog comments powered by
  %span.logo-disqus
    Disqus
:script
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&amp;';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/howtonodeorg/get_num_replies.js' + query + '"></' + 'script>');
  })();
