.right
  .box
    %h2 Versions
    :each tag in tags
      %p
        %a{href: tag.href}&= tag.name
  .box
    %h2 Authors
    :each author in authors
      %p
        %a{href: author.homepage}&= author.name
