%h1 HowToNode.org

%h2 Authors
%ul#authors
  :each author in authors
    %li.author= partial("_author", author)

%h2 Articles
%ul#articles
  :each article in articles
    %li.author= partial("_article", article)
