!!! Strict
%html{ lang: "en", xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %link{ href: "style.css", rel: "stylesheet" }
    %title #{title} - HowToNode.org
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %h1
          How To Node
        .tagline
          The zen of coding in node.JS
      #sidebar
        .aside.clearfix
          .heading
            About the Author
          %img.headshot{ src: "http://www.gravatar.com/avatar/c953ddd239707998340e1a6fbb3eeb46?s=200" }
          %dl
            %dt
              Name:
            %dd
              Tim Caswell
          %dl
            %dt
              Github:
            %dd
              %a{ href: "http://github.com/creationix" }
                creationix
          %dl
            %dt
              Twitter:
            %dd
              %a{ href: "http://twitter/creationix" }
                creationix
          %dl
            %dt
              Location:
            %dd
              Dallas, TX
        .aside
          .heading
            About this Article
          %dl
            %dt
              Date Released:
            %dd
              Wednesday April 1, 2010
          %dl
            %dt
              Last Updated:
            %dd
              Wednesday April 7, 2010
          %dl
            %dt
              Node Version:
            %dd
              %a{ href: "http://github.com/ry/node/tree/v0.1.33" }
                node v0.1.33
          %dl
            %dt
              Dependency Versions:
            %dd
              %ul
                %li
                  %a{ href: "http://github.com/creationix/haml-js/tree/8ea2df3a90ff488ed253d5872e0f4a387f393e5d" }
                    haml-js v0.2.2
                %li
                  %a{ href: "http://github.com/creationix/node-git/tree/c34dab79c8618440fe88a2a2b92f58104322a977" }
                    node-git gc34dab7
                %li
                  %a{ href: "http://github.com/creationix/node-router/tree/4267eca1c6a4742e6f39cb08e8e4fb76926be59b" }
                    node-router v0.0.2-6-g4267eca
                %li
                  %a{ href: "http://github.com/creationix/proto/tree/afd66a2bad04f8c79f31cc6b0243dc7613cd9958" }
                    proto gafd66a2
                %li
                  %a{ href: "http://github.com/creationix/step/tree/a91b456aa79796a36c5bc6ce54647b0666b62b66" }
                    step ga91b456
          %dl
            %dt
              Code Samples:
            %dd
              %ul
                %li
                  %a{ href: "/step-of-conductor/load_article.js" }
                    load_article.js
                %li
                  %a{ href: "/step-of-conductor/load_authors.js" }
                    load_authors.js
                %li
                  %a{ href: "/step-of-conductor/step_parallel.js" }
                    step_parallel.js
          %dl
            %dt
              Alternate Versions:
            %dd
              %ul
                %li
                  %a{ href: "a91b456aa79796a36c5bc6ce54647b0666b62b66/step-of-conductor" }
                    node v0.1.32
                %li
                  %a{ href: "afd66a2bad04f8c79f31cc6b0243dc7613cd9958/step-of-conductor" }
                    node v0.1.90
        .bubble
          .heading
            Related Articles
          %ul
            %li
              %a{ href: "" }
                What is This?
              by Tim Caswell
            %li
              %a{ href: "" }
                Facebook Connect with Node
              by Dominiek ter Heide
        .bubble
          .heading
            About HowToNode.org
          %p
            HowToNode.org is a community supported blog created by
            %a{ href: "http://creationix.com/" }
              Tim Caswell
            \.  The purpose of the blog is to teach how to do various tasks in
            %a{ href: "http://nodejs.org" }
              node.js
            as well as teach fundamental concepts that are needed to write effective code.
          %p
            This site is powered by
            %a{ href: "http://github.com/creationix/wheat" }
              Wheat
            A git based blogging engine written in
            %a{ href: "http://nodejs.org" }
              node.JS
          %p
            The content for this site is stored in a
            %a{ href: "http://github.com/creationix/howtonode.org" }
              git repository
            that anyone can fork, write an article, and send a pull request.  If your article passes the quality standards it will be published and help support the greater node community.
      #main.clearfix= content
      #footer
        Site Design and code is &copy; 2010 to Tim Caswell under the MIT license.
        Content and articles are copyrighted to the individual authors.
        All code snippets used in the examples are in the public domain.
