!!! Strict
%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=utf-8", http-equiv: "Content-Type" }
    %title&= title + " - How To Node"
    %link{ href: "screen.css", rel: "stylesheet", type: "text/css", media: "screen", charset: "utf-8" }
    %link{ href: "prettify.css", rel: "stylesheet", type: "text/css", media: "screen", charset: "utf-8" }
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")

  %body
    #content
      = content
