!!! XML
!!! 1.1
%html(xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title&= title
    %link(type="text/css" rel="stylesheet" href="pipe.css")
    %link(type="text/css" rel="stylesheet" href="sh_vim-dark.css")
  %body
    #content= content