<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <title>Shoutbox in Grasshopper</title>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div id="container">
            <h1>Shoutbox</h1>

            <div id="boxtop"></div>
            <div id="content">
                <% include(view); %>
            </div>
            <div id="boxbot"></div>
        </div>
    </body>
</html>
