body {
	font-family: Helvetica, Arial;
}
#header {
	font-size: 1.2em;
	text-align: center;
    width: 700px;
    height: 70px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 16px;
    border: solid 2px #156cff;
    color: #156cff;
    border-radius: 5px
}

#content {
	width: 702px;
	margin: auto;
}

#menu > li{
	display: inline-block;
	padding-right: 14px;
	font-size: 0.8em;
}

h2 {
	color: #333;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: #333;
}
a.article {
	color: #156cff;
}

#content p {
	border-bottom: 2px dotted #167cff;
	padding-bottom: 10px;
}