@import "prettify.css";
body {
  margin: 0;
  padding: 0 10px;
  font-family: sans-serif;
  background: #6c7994 url(volcano.jpg) top center no-repeat;
}
#container {
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
}
#container a, #container a:link, #container a:active {
  color: #1654a7;
  font-weight: bold;
  text-decoration: none;
}
#container a:hover {
  color: #217efb;
  text-decoration: underline;
}
#header a,
#header a:link,
#header a:active,
#header a:hover {
  color: #000;
  text-decoration: none;
}
#header H1 {
  font-family: ArtBrushMedium, sans-serif;
  text-shadow: #fff 1px 1px 5px;
  font-weight: bold;
  font-size: 74px;
  line-height: 1em;
  color: #000;
  padding: 0;
  margin: 15px 30px 5px;
}
#header .tagline {
  font-family: ArtBrushMedium, sans-serif;
  color: #222;
  text-shadow: #fff 1px 1px 3px;
  margin: 5px 30px 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1em;
  padding: 0;
}
#footer {
  font-size: 13px;
  line-height: 1em;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  padding: 20px 0;
}
#footer.clearfix{
  clear:both;
}
#main,
.aside,
.bubble,
.sponsor img {
  -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#main {
    float:left;
  background-color: #fdfeff;
  padding: 10px 30px;
  margin-right:0;
  min-height: 300px;
  min-width: 300px;
  width: 65%;
  /*margin-right: 350px;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#main .sha-version {
  position: relative;
  float: right;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  margin: 0 0 -12px 0;
}
#main img {
  float: left;
  margin: 0 10px 10px 0;
}
#main hr {
  background-color: #f3f3f3;
  border: 0;
  height: 1px;
}
#main .author, #main .date {
  text-align: right;
  font-size: 12px;
  line-height: 1.5em;
}
#main .author {
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: -50px;
  font-weight: bold;
}
#main .author img {
  width: 30px;
  height: 30px;
  float: right;
  margin: 3px 0 0 5px;
}
#main .author .date {
  font-weight: normal;
}
#main .snippet dl {
  border: 1px solid #aaa;
  background-color: #f6f5f4;
  margin: -1px -10px 0;
  padding: 10px;
  font-size: 90%;
}
#main .snippet dl:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  font-family: monaco, consolas, monospace;
}
#main .snippet dt {
  font-weight: bold;
  font-family: sans-serif;
  float: right;
}
#main .snippet dd {
  margin: 0;
  padding: 0;
  white-space: pre;
}
#main .snippet .error {
  background-color: #fff0f0;
}
#main .snippet .error dt {
  color: #977;
}
#main .snippet .output {
  background-color: #f0fff0;
}
#main .snippet .output dt {
  color: #797;
}
#main code {
  font-family: monaco, consolas, monospace;
  font-size: 90%;
  background-color: #efeeed;
  border: 1px solid #e0e0e0;
}
#main pre {
  border: 1px solid #aaa;
  background-color: #f6f5f4;
  margin: 0 -10px;
  display: block;
}
#main pre code {
  overflow-x: auto;
  max-height: 600px;
  font-size: 12px;
  line-height: 1.4em;
  display: block;
  padding: 10px;
  border: 0;
  background-color: inherit;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5 {
  font-family: sans-serif;
  margin: .5em 0;
}
#main h1 {
  color: #222;
  font-size: 2em;
}
#main h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  line-height: 1em;
  border-bottom: 2px dotted #aaa;
  color: #444;
  font-size: 1.7em;
}
#main h3 {
  color: #222;
  font-size: 1.2em;
}
#main h4 {
  color: #666;
  font-size: 1em;
}
/* Added the default paragraph style to
the list items to fix the size issue */
#main p, #main li {
  text-align: justify;
  font-size: 14px;
  line-height: 1.6em;
}
#main .code-link {
  position: relative;
  float: right;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  margin: 0 -10px -24px;
  background-color: #fff;
  border: 1px solid #AAA;
  padding: 5px 10px;
  font-weight: bold;
  display: block;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
#main .code-link .hash {
  font-weight: normal;
}
.article {
  padding-bottom:10px;
  margin-bottom:7px;
  border-bottom:1px solid #ddd;
}
#sidebar {
  margin-left:0;
  float: left;
  width: 28%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
#sidebar dl {
  margin: 10px 0;
}
#sidebar h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  border-bottom: 1px solid #aaa;
}
#sidebar dt {
  font-weight: bold;
}
#sidebar dd {
  margin-left: 20px;
}
#sidebar dd ul {
  padding: 0;
}
#sidebar ul {
  padding: 0 0 0 20px;
  margin: 0;
}
#sidebar .versiontag {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 3px;
  border: 1px solid #888;
  background-color: #8bf;
  font-size: 10px;
  line-height: 1em;
  margin: 0 5px;
  font-weight: normal;
}
#sidebar .headshot {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
  border: 2px solid rgba(200, 200, 200, 0.2);
}
#sidebar .aside {
  margin-top: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: -moz-linear-gradient(top, #686664, #444444);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#686664), to(#444444));
  background-color: #5a5958;
  color: #fff;
  padding: 10px 10px 10px 20px;
}
#sidebar .aside h3 {
  background-color: rgba(255, 255, 255, 0.4);
  background-color: #a3a2a1;
  /*Only for IE*/

  text-shadow: #fff 1px 1px 3px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  color: #000;
  margin: -9px -9px 10px -20px;
  padding: 9px 10px 8px 20px;
}
#sidebar .aside a, #sidebar .aside a:link, #sidebar .aside a:active {
  color: #2ca8ff;
  font-weight: bold;
  text-decoration: none;
}
#sidebar .aside a:hover {
  color: #37d2ff;
  text-decoration: underline;
}
#sidebar .bubble {
  margin: 20px 0 0 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background: -moz-linear-gradient(top, #ffffff, #bcbab8);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#ffffff), to(#bcbab8));
  background-color: #d5d3d2;
}
#sidebar .bubble h3 {
  text-shadow: #000 1px 1px 3px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: #939392;
  /*Only for IE*/

  color: #eaeeff;
  margin: -9px -9px 10px -9px;
  padding: 9px 10px 8px 10px;
  border-bottom: 1px solid #aaa;
}
#sidebar .sponsor {
  padding: 20px 10px 10px 20px;
  text-align: center;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#sidebar .sponsor img {
  border: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
@font-face {
  font-family: 'ArtBrushMedium';
  src: url('Artbrush.eot');
  src: local('ArtBrush'), local('ArtBrush'), url('Artbrush.woff') format('woff'), url('Artbrush.ttf') format('truetype'), url('Artbrush.svg#ArtBrush') format('svg');
}
